header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.big-w {
  font-family: "Flowstate-Outline";
  color: black;
  /* font-size: 4rem; */
  /* padding-top: 20px; */
  will-change: filter;
  transition: filter 300ms;
  margin: 0;
  height: 4rem;
}
.home-button {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s, transform 0.4s ease;
  display: flex;
}

.home-link {
  height: 4rem;
  width: 4rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 480px) {
  .big-w {
    /* font-size: 3rem; */
    height: 3rem;
  }

  .home-link {
    height: 3rem;
    width: 3rem;
  }
}

.home-button:hover {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}
