.studio-gallery {
  margin-top: 20px;
  margin-left: 20px;
}

/* .line {
  width: 100vw;
}
.left,
.right {
  width: 50vw;
  overflow: hidden;
  display: inline-block;
}
.left {
  color: pink;
  transform: skew(0deg, -5deg);
}
.right {
  color: black;
  transform: skew(0deg, 5deg);
}
.left .content {
  width: 100vw;
  text-align: center;
}
.right .content {
  width: 100vw;
  text-align: center;
  transform: translate(-50vw);
}
span {
  display: inline-block;
  font-family: "Sen", sans-serif;
  font-size: 35vw;
  line-height: 0.8;
  transition: ease-out 0.6s;
} */

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: calc(100vh - 140px);
}

.home-heading {
  font-size: 30vw;
}
