.studio-gallery {
  margin-top: 20px;
  margin-left: 20px;
}

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: calc(100vh - 140px);
}
