.nav-menu {
  position: relative;
  cursor: pointer;
}

.nav-menu-links {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: 0fr;
  transition: 0.3s grid ease;
}

.nav-menu:hover {
  .nav-menu-links {
    grid-template-rows: 1fr;
    z-index: 10;
  }
}
.nav-menu-links__container {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  width: 100%;
}

.nav-menu-links__container > a {
  width: 100%;
  display: block;
  background-color: rgba(248, 155, 134);
  text-align: right;
  color: #4d4dff;
  padding: 0.2rem 0.4rem;
}

.nav-menu-links__container > a:hover {
  background-color: rgb(255, 119, 88);
  color: #e6e6ff;
}

.burger {
  height: 3em;
  margin-bottom: -2px;
}

.burger-border {
  border: 1px solid black;
  border-radius: 8px;
  padding: 4px 6px 0;
}

@media only screen and (max-width: 480px) {
  .burger {
    height: 2em;
    margin-bottom: -4px;
  }

  .burger-border {
    padding: 2px 4px 0;
  }

  .nav-menu-links__container > a {
    font-size: 0.85rem;
  }
}
