:root {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: inherit;
}
input,
select,
textarea,
button {
  font-family: "Sen", sans-serif;
  line-height: 2em;
}

input,
select,
textarea {
  background-color: rgb(254, 196, 182);
  color: black;
}

label {
  margin-top: 20px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(204, 204, 255);
  background: linear-gradient(
    180deg,
    rgba(204, 204, 255, 1) 0%,
    rgba(255, 48, 0, 0.7) 100%
  );
  background-attachment: fixed;
  text-wrap: wrap;
}

h1 {
  margin-bottom: 0.3rem;
  font-size: 16rem;
  line-height: 1.1;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p,
  a {
    font-size: 1rem;
  }
}
