@font-face {
  font-family: "Wrangler"; /* Name your font family */
  src: url("./assets/WranglerV2.otf"); /* Locate the .ttf file within your directory*/
}
@font-face {
  font-family: "FlockDisplay"; /* Name your font family */
  src: url("./assets/FlockDisplay.otf"); /* Locate the .ttf file within your directory*/
}
@font-face {
  font-family: "DeadEast-Italic"; /* Name your font family */
  src: url("./assets/DeadEast-Italic.otf"); /* Locate the .ttf file within your directory*/
}
@font-face {
  font-family: "Fender"; /* Name your font family */
  src: url("./assets/Fender.otf"); /* Locate the .ttf file within your directory*/
}
@font-face {
  font-family: "Humankind"; /* Name your font family */
  src: url("./assets/Humankind.otf"); /* Locate the .ttf file within your directory*/
}
@font-face {
  font-family: "Bananarama"; /* Name your font family */
  src: url("./assets/Bananarama.otf"); /* Locate the .ttf file within your directory*/
}
@font-face {
  font-family: "Elysium"; /* Name your font family */
  src: url("./assets/Elysium.otf"); /* Locate the .ttf file within your directory*/
}
@font-face {
  font-family: "DogDays"; /* Name your font family */
  src: url("./assets/DogDays.otf"); /* Locate the .ttf file within your directory*/
}
@font-face {
  font-family: "Flowstate-Outline"; /* Name your font family */
  src: url("./assets/Flowstate-Outline.otf"); /* Locate the .ttf file within your directory*/
}
@font-face {
  font-family: "Flowstate"; /* Name your font family */
  src: url("./assets/Flowstate.otf"); /* Locate the .ttf file within your directory*/
}

:root {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

a {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: inherit;
}
input,
select,
textarea,
button {
  font-family: "Sen", sans-serif;
  line-height: 2em;
}

input,
select,
textarea {
  background-color: rgb(254, 196, 182);
  color: black;
}

label {
  margin-top: 20px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(250, 192, 169);
  /* background: linear-gradient(
    180deg,
    rgba(204, 204, 255, 1) 0%,
    rgba(255, 48, 0, 0.7) 100%
  );
  background-attachment: fixed; */
  text-wrap: wrap;
}

h1 {
  margin-bottom: 0.3rem;
  font-family: "Flowstate";
  font-size: clamp(2rem, 30vw, 30rem);
  line-height: 0.7em;
  text-align: center;
  text-wrap: wrap;
  overflow-wrap: break-word;
  color: rgb(250, 194, 181);
}

h2 {
  font-size: 3rem;
  font-family: "Fender";
  color: black;
}

h3 {
  font-size: 2rem;
  font-family: "Sen" sans-serif;
  color: black;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
  text-wrap: wrap;
  overflow-wrap: break-word;
  color: black;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 30vw;
    line-height: 0.7;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p,
  a {
    font-size: 1rem;
  }
}

.wavy {
  animation: wavy 1.5s infinite linear;

  position: relative;
  top: 0;
  left: 0;
}

@keyframes wavy {
  0% {
    top: 0px;
    color: rgb(250, 194, 181);
  }
  50% {
    top: -25px;
    color: rgb(249, 163, 153);
  }
  100% {
    top: 0px;
    color: rgb(250, 194, 181);
  }
}
